# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_string
APP_SHARE_DIR=var/share
APP_URL=http://localhost:8090
APP_TIMEZONE=Europe/Bucharest
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://erp:secretpassword@postgres-service:5432/erp_db?serverVersion=16&charset=utf8"
DATABASE_AUDIT_URL="postgresql://erp:secretpassword@postgres-service:5432/erp_audit?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=smtp://mailer:1025
###< symfony/mailer ###

###> face service ###
FACE_SERVICE_URL=http://face-service:8000
FACE_API_KEY=dev_face_service_key
###< face service ###

###> app ###
APP_NAME=ERP
APP_EMAIL=office@example.com
APP_SENDER_NAME=ERP
###< app ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=http://localhost:8090
###< symfony/routing ###
